@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-poppins);
}

@layer base {
  body {
    @apply bg-gray100 text-sm text-gray800 md:text-sm;
  }

  .h1,
  h1 {
    @apply text-xl font-semibold leading-tighter md:text-4xl;
  }

  .h2,
  h2 {
    @apply text-xl font-semibold leading-tight md:text-3xl;
  }

  .h3,
  h3 {
    @apply text-base font-semibold leading-relaxed md:text-xl;
  }

  .h4,
  h4 {
    @apply text-xs font-semibold leading-normal md:text-base;
  }

  p {
    @apply font-normal leading-snug tracking-snug text-gray600 md:leading-normal;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
